Port 2222
ListenAddress 0.0.0.0
HostKey /var/lib/possiblaw-worker/ssh_host_ed25519_key
PidFile /run/sshd.pid
AuthorizedKeysFile /var/lib/possiblaw-worker/authorized_keys
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
UsePAM no
PermitRootLogin no
AllowUsers possiblaw
StrictModes yes
PermitUserEnvironment no
PermitUserRC no
DisableForwarding yes
AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PermitTunnel no
PermitTTY no
PrintMotd no
PrintLastLog no
LogLevel INFO
